body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background: #f2f0eb;
}

.resume {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    background: #fff;
}

.left {
    padding: 40px 50px;
}

.right {
    background: #e8dfd5;
    padding: 40px 30px;
}

h1 {
    margin: 10px 0;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    margin: 15px 0 5px;
    font-size: 17px;
}

.role {
    font-weight: bold;
    color: #444;
}

.time {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

ul {
    padding-left: 18px;
}

.right img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}


.profile .title {
    font-size: 24px;
    color: #444;
    margin-bottom: 8px;
}

section {
    margin-bottom: 35px;
}

.right section h2 {
    margin-top: 30px;
}

@media(max-width: 850px) {
    .resume {
        grid-template-columns: 1fr;
    }
}
