<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume Template</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="../css/style-template-6.css">
    </head>
    <body>
        <header>
            <div class="name">
                <h1>Name</h1>
                    <p class="description">Short personal description.</p>
            </div>
            <div class="info-section">
                <div class="info-item"><span>Age: </span>28 years</div>
                <div class="info-item"><span>Nationality: </span>Ethiopian</div>
                <div class="info-item"><span>Driving License: </span>Yes</div>
            </div>
        </header>

        <div class="container">
            <aside>
                <section class="languages">
                    <h2>Languages</h2>
                    <div class="language">
                        <span>Amharic</span>
                        <span>Native</span>
                    </div>
                    <div class="language">
                        <span>English</span>
                        <span>B2 level</span>
                    </div>
                </section>

                <section class="awards">
                    <h2>Awards</h2>
                    <div class="awarad">
                        <div class="award-title">CSS Design Awards</div>
                        <div class="award-detail">Site of the day</div>
                    </div>
                </section>

                <section class="contact">
                    <h2>CONTACT</h2>
                    <ul class="contact-list">
                        <li class="contact-item">
                            <span class="contact-icon"><i class="fas fa-globe"></i></span>
                            <span>www.amha.ms</span>
                        </li>
                        <li class="contact-item">
                            <span class="contact-icon"><i class="fas fa-envelope"></i></span>
                            <span>hello@gmail.com</span>
                        </li>
                        <li class="contact-item">
                            <span class="contact-icon"><i class="fab fa-instagram"></i></span>
                            <span>instagram.com/amha.ms</span>
                        </li>
                    </ul>
                </section>
            </aside>
            <main>
                <section class="work-experience">
                    <h2>Work Experience</h2>
                    <div class="job">
                        <div class="company">Company</div>
                        <div class="date">Date</div>
                        <div class="position">UX/UI Designer & Illustrator</div>
                    </div>

                    <div class="job">
                        <div class="company">Company</div>
                        <div class="date">Date</div>
                        <div class="position">UX/UI Designer & Illustrator</div>
                    </div>

                    <div class="job">
                        <div class="company">A2SV</div>
                        <div class="date">Dec 20, 2017</div>
                        <div class="position">Backend Developer</div>
                    </div>
                </section>

                <section class="education">
                    <h2>Education</h2>
                    <div class="education-item">
                        <div class="education-title">Primary Education</div>
                        <div class="education-school">LCCS</div>
                    </div>

                    <div class="education-item">
                        <div class="education-title">Highschool</div>
                        <div class="education-school">LCCS</div>
                    </div>

                    <div class="education-item">
                        <div class="education-title">Software Engineering</div>
                        <div class="education-school">AASTU</div>
                    </div>
                </section>

                <section class="skills">
                    <h2>Skills</h2>
                    <div class="skills-set">
                        <div class="skill-category">
                            <div class="category-title">Design</div>
                            <div class="skill-item">Figma</div>
                            <div class="skill-item">Canva</div>
                            <div class="skill-item">JavaScript</div>
                        </div>

                        
                        <div class="skill-category">
                            <div class="category-title">Front-end</div>
                            <div class="skill-item">HTML</div>
                            <div class="skill-item">CSS</div>
                            <div class="skill-item">JavaScript</div>
                        </div>

                        
                        <div class="skill-category">
                            <div class="category-title">Back-end</div>
                            <div class="skill-item">Node.js</div>
                            <div class="skill-item">MySQL</div>
                            <div class="skill-item">PostgreSQL</div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>