* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsla(34, 100%, 95%, 0.836);
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  /* font-style: normal; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
