.sidebar {
  width: 30%;
  background-color: #cec7c7;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  height: 94%;
}
.sidebar-section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.sidebar-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.personal-details-form {
  display: flex;
  flex-direction: column;
}
.personal-details-form label {
  margin-bottom: 5px;
  font-weight: 400;
  color: #0f0303;
}
.personal-details-form input,
.personal-details-form textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #eee;
}
.personal-details-form input:focus,
.personal-details-form textarea:focus {
  border-color: #4caf50;
  outline: none;
  background-color: #fff;
}

.personal-details-form textarea {
  resize: vertical;
  min-height: 60px;
}
.personal-details-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.personal-details-form button:hover {
  background-color: #45a049;
}
.personal-details-form .name-image {
  display: flex;
  gap: 10px;
  align-items: start;
}
.name-image .name-inputs {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}
.name-inputs label {
  margin-bottom: 0;
}

.image-input {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.image-input input[type="file"] {
  display: none;
}
.image-input .image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  position: relative;
}
.image-preview img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
}
.image-preview .image-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(231, 231, 231, 0.979);
  opacity: 80%;
  border-radius: 50%;
  cursor: pointer;
}

.input_sidebar {
  width: 90%;
  display: flex;
  flex-direction: column;
}
#done_button {
  width: 50%;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  align-self: center;
}

.profile-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c5afaf;
  border-radius: 10px;
  padding: 20px 4px 20px 4px;
  background-color: white;
}
.profile-preview h2,
h3 {
  font-size: 1.2em;
  margin: 0;
  line-height: 2rem;
  font-weight: 400;
}
.profile-preview h2 {
  font-weight: 600;
}
.profile-preview p {
  margin: 5px 0 0 0;
  font-size: 1em;
  line-height: 1.5rem;
  font-weight: 400;
}
.profile-preview i {
  margin-right: 8px;
  color: #4caf50;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #4caf50;
}
.edit-button:hover {
  color: #388e3c;
}
